/* Just for the example. Fee free to delete these three lines */
.pikachoose {
	float: left;
	width: 862px;
	padding: 15px 0px;
}

.jcarousel-skin-pika {
	width: 835px;
	height: 138px;
	margin: 10px auto;
	padding: 0 13px;
	background: #505050;
	z-index:99999;
}

/* Style the thumbnails */
.pika-thumbs{
	padding: 0 16px; 
	height: 75px;
}
.pika-thumbs li{ 
	width: 170px; 
	height: 111px;
	padding: 0; 
	overflow: hidden;
	float: left; 
	list-style-type: none;
	cursor: pointer;
}
.pika-thumbs li .clip {
	position: relative;
	height: 100%;
	text-align: center; 
	vertical-align: middle; 
	overflow: hidden;
}
	
/* The stage is the wrapper. The image fills 100% the height of the stage */

.pika-stage {
	position: relative; 
	padding: 10px 15px 15px 15px; 
	text-align: center; 
	height: 557px;
	width: 831px;
	background: #505050;
}
.pika-stage img{width: 831px; height: 557px;}
.pika-stage .caption {position: absolute; background: #000; background: rgba(0,0,0,0.75);  border: 1px solid #141414; font-size: 11px; 
			color: #fafafa; padding: 10px; text-align: right; bottom: 50px; right: 10px;}
	.pika-stage .caption p {padding: 0; margin: 0; line-height: 14px;}

/* Ths play, pause, prev and next buttons */
.pika-imgnav a {
	position: absolute; 
	text-indent: -5000px; 
	display: block;
	z-index:999999; 
	opacity: 1 !important;
}
	.pika-imgnav a.previous {
		background: url("../img/navi.png") no-repeat left bottom; 
		height: 112px; 
		width: 34px; 
		bottom: -132px;
		left: 13px;
		cursor:pointer;
	}
	
	.pika-imgnav a.next {
		background: url("../img/navi.png") no-repeat right bottom; 
		height: 112px; 
		width: 34px; 
		bottom: -132px;
		right: 13px;
		cursor:pointer;
	}
	.pika-imgnav a.play {background: url("../img/play.png") no-repeat 0% 50%; height: 100px; width: 44px;top:0;left:50%;display: none;cursor:pointer;}
	.pika-imgnav a.pause {background: url("../img/pause.png") no-repeat 0% 50%; height: 100px; width: 44px;top:0;left:50%;display:none;cursor:pointer;}

/* The previous and next textual buttons */
.pika-textnav {overflow: hidden; margin: 10px 0 0 0;bottom:10px; position:absolute;}
.pika-textnav a {font-size: 12px; text-decoration: none; color: #333; padding: 4px;}
	.pika-textnav a.previous {float: left; width: auto; display: block;}
	.pika-textnav a.next {float: right; width: auto; display: block;}

/*for the tool tips*/
.pika-tooltip{font-size:12px;position:absolute;color:white;padding:3px; background-color: rgba(0,0,0,0.7);border:3px solid black;}
.pika-counter{position: absolute;bottom: 45px;left:15px;color:white;background:rgba(0,0,0,0.7);font-size:11px;padding:3px;-moz-border-radius: 5px;border-radius:5px;}

/* If using user thumbnails there's a pause well the new large image loads. This is the loader for that */		
.pika-loader{ background:url("../img/loading.gif") 3px 3px no-repeat #000; background-color:rgba(0,0,0,0.9); color:white; width:60px; font-size:11px; padding:5px 3px; 
	text-align:right; position:absolute; top:15px; right:15px; }

/* jCarousel Styles */
/*if you're not using the carousel you can delete everything below this */
.jcarousel-skin-pika .jcarousel-container-horizontal { 
	padding-top: 11px; 
	overflow:hidden;
	width: 766px;
	margin-left: 34px;
}

.jcarousel-skin-pika .jcarousel-clip-horizontal {
	height: 114px; 
	width: 720px;
}

.jcarousel-skin-pika .jcarousel-item-horizontal { 
margin-right: 12px;
}

#pikame {
	height: 114px;
}