body {
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-family: Calibri, Arial, Tahoma;
    background: url("../img/body-bg.png") ;
}

*{
    margin: 0px;
    padding: 0px;
}

img {border: 0px;}

a {text-decoration: none;}

.header-menu li, .lang a, .slide-text, .footer {
    background: url("../img/bg.png");
}

/* HEADER */
.header {
    width: 1140px;
    height: 93px;
    margin: 0 auto;
    position: relative;
    text-align: left;
    padding: 21px 0 22px 208px;
}

.logo {
    float: left;
    width: 273px;
    height: 57px;
    margin-top: 12px;
    margin-right: 42px;
}

.header-menu {
    float: left;
    width: 629px;
    height: 94px;
}

.header-menu li {
    float: left;
    height: 93px;
    margin-left: 6px;
}
.header-menu li.first {margin-left: 0px;}

.header-menu li a {
    display: block;
    padding: 0 24px;
    color: #c2a36b;
    padding-top: 39px;
    text-transform: uppercase;
}

.lang {
    width: 134px;
    float: left;
    margin-left: 19px;
}

.lang a {
    float: left;
    height: 40px;
    color: #fff;
    font-family: Calibri;
    font-size: 18px;
    line-height: 40px;
    margin-left: 1px;
    padding: 0 12px;
}

.lang a:hover {color: #c2a36b;}


/* FOOTER */
.footer {
    
}

.footer-content {
    width: 1286px;
    height: 68px; 
    padding: 0 31px;
    text-align: left;
    margin: 12px auto 17px;
}

.footer-content span {
    font-size: 1.2em;
    color: #a4a4a4;
    text-align: left;
    line-height: 68px;
}

/* Opera*/
@media all and (min-width: 0px) {
    .header {
        padding-left: 190px;
    } 
    
}
/* Opera*/

/* firefox*/
@-moz-document url-prefix() { 
    .header {
        padding-left: 208px;
    } 
} 
/* firefox*/

/* CHROME*/
@media screen and (-webkit-min-device-pixel-ratio:0)
{
    .header {
        padding-left: 208px;
    }
}
/* CHROME*/
 