
/* INFO */
.info {
    background: #323232;
    border: 1px solid #525252;
}

.info p {
    width: 1318px;
    margin: 0 auto;
    color: #d6d6d6;
    padding: 25px 15px;
    text-align: left;
}

/* TOP-MENU */
.menu {
    width: 100%;
    background: #bb995b;
}

.menu-content {
    margin: 0 auto;
    width: 1158px;
    height: 50px;
    padding-left: 90px;
    text-align: center;
}

.menu-content li {
    float: left;
    height: 50px;
}

.menu-content li a {
    display: block;
    padding: 0 38px;
    line-height: 50px;
    color: #fff;
    font-size: 16px;
}

.menu-content li a:hover {
    background: #d9b97d;
    color: #7f5e22;
}

.content {
    margin: 0 auto;
    width: 924px;
    border: 1px solid #7c7c7c;
    border-bottom: 0px;
    border-top: 0px;
    background: #3c3c3c;
}

.content-header {
    float: left;
    width: 921px;
    height: 103px;
    margin: 1px 2px 33px 1px;
    background: url("../img/bilgeh-bg.png") no-repeat;
    
}

.content-header img {
    float: right;
    margin: 10px 20px 0 0;
}

.yotube-v {
    float: left;
    width: 797px;
    margin: 0 33px 0 26px;
    padding: 32px 30px 33px 35px;
    background: #505050;
}

.inside-text {
    float: left;
    width: 862px;
    margin: 22px 33px 26px 26px;
    text-align: left;
    font-size: 1.1em;
    color: #fff;
}

.inside-text a {
    color: #b79f58;
}

.inside-text a:hover {text-decoration: underline;}

/* ROOMS & PRICES */
.rooms-prices {
    float: left;
    width: 862px;
    margin: 22px 33px 26px 26px;
    text-align: left;
}

.rooms-prices h4 {
    color: #b79f58;
    font-size: 1.5em;
    padding-left: 12px;
    padding-bottom: 15px;
}

.rooms-prices .block {
    float: left;
    padding: 15px 13px;
    width: 836px;
    background: #505050;
    margin-bottom: 7px;
}

.block-img {
    float: left;
    margin-right: 17px;
}

.block-text {
    float: left;
    width: 500px;
}

.block-text p {
    color: #fff;
}

.block-text a {
    font-size: 1.3em;
    color: #cbaf59;
}

.block-text a:hover {text-decoration: underline;}

.block-price {
    float: left;
    width: 100px;
	margin-left: 48px;
    color: #cbaf59;
}

.currency {
    padding: 6px;
    float: left;
    background: #626262;
    margin-bottom: 3px;
}

.value {
	min-width: 33px;
    padding: 6px;
    float: left;
    text-align: center;
    margin-left: 2px;
    margin-bottom: 3px;
    background: #626262;
}

.prev-page {
    float: left;
    width: 849px;
    height: 43px;
    padding-left: 13px;
    text-indent: 13px;
    margin-top: 3px;
    background: url("../img/arrow.png") #505050 13px center no-repeat;
}

.prev-page a {
    color: #cbaF59;
    line-height: 42px;
    border-bottom-style: dotted;
    border-width: 1px;
    
}

.rooms-pic {
    float: left;
    width: 836px;
    padding: 15px 13px;
    background: #505050;
}

.prev-page a:hover {border-bottom-style: none;}

.carousel {
    height: 108px;
    margin-top: 10px;
    position: relative;
    overflow: hidden;
}



