div#slide {
	width: 1348px; 
	height: 602px; 
	margin: 0 auto 1px;
	background: url(images/border.png);
	overflow: scroll; /* Allows the slides to be viewed using scrollbar if Javascript isn't available */ 
	position: relative; 
	z-index: 5;
}
	div#slide ul#nav {
		display: none;
		list-style: none;
		position: relative; 
		top: 210px; 
		z-index: 15;
	}
		div#slide ul#nav li#prev {
			float: left; 
			margin: 0 0 0 40px;
		}
		div#slide ul#nav li#next {
			float: right; 
			margin: 0 50px 0 0;
		}
		div#slide ul#nav li a {
			display: block; 
			width: 80px; 
			height: 80px; 
			text-indent: -9999px;
		}
			div#slide ul#nav li#prev a {
				background: url(images/prev.png);
			}
			div#slide ul#nav li#next a {
				background: url(images/next.png);
			}

	div#slide ul#slides {
		list-style: none;
	}
		div#slide ul#slides li {
			margin: 0 0 20px 0;
		}
		
		div#slide ul#slides li .s-text {
			position: absolute;
			left: 8px;
			bottom: -570px;
			width: 1296px;
			padding: 18px;
			color: white;
			font-size: 1.7em;
			background: url("../img/bg.png");
		}
		
		#slide img {
			width: 1348px;
			height: 602px;
			position: absolute;
			left: 0;
			top: 0;
		}
		
		#slide .img-name {
			position: absolute;
			width: 495px;
			height: 220px;
			left: 800px;
			top: 225px;
			z-index: 222;
		}